<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="basePath">logs</Property>
    </Properties>
    <Appenders>
        <File name="FILE" fileName="${basePath}/sqlhelper.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} | %-5p | [%-10t] (%-30F:%3L) - %m%n" />
        </File>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} | %-5p | [%-10t] (%-30F:%3L) - %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.tony.sqlhelper" level="trace" />
        <Root level="trace">
            <AppenderRef ref="STDOUT" />
            <AppenderRef ref="FILE" />
        </Root>
    </Loggers>
</Configuration>